.btn {
    margin-left: 50px;
    border-radius: 10px;
    background-color: rgba(79, 45, 172, 0.69);
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.btn_text {
    font-size: 14px;
    font-weight: normal;
    font-style: initial;
}

.btn:hover {
    transform: scale(1.25);
}



.void {
    visibility: hidden;
}
